* {
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}

body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

/* header */
.header {
    background-image: url(./Black\ grid.png);
    background-repeat: repeat;
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    justify-content: space-between;
}

.header-top {
    color: #FFFFFF;
    flex-grow: 1;
}

.header-top .left a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 26px;
}

.header-top .left h1 {
    margin-bottom: 35px;
}

.header-top .left {
    top: 110px;
    left: 6vw;
    height: 240px;
    max-width: 350px;
}

.twitter-link img {
    padding-right: 5px;
}

.twitter-link img {
    height: 18px;
    width: auto;
}

.twitter-link {
    background-color: #1d9bf0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px; 
}

.twitter-link-a {
    position: absolute;
    border-radius: 50px;
    top: 20px;
    right: 20px;
    overflow: hidden;
    text-decoration: none;
    color: #FFFFFF;
}

.header-navbar {
    bottom: 0;
    display: flex;
    justify-content:space-around;
    background-color: #FFFFFF;
    opacity: 0.6;
    border-bottom: 1px solid #222;
    align-items: center;
    width: 100%;
    min-height: 45px;
}

.navbar-buttons {
    height: 100%;
    width: auto;
}

.header-navbar a:hover {
    background-color: #c7c7c7;
}

.header-navbar a {
    text-decoration: none;
    color: #000000;
    height: 100%;
    width: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* content */

.contents {
    padding: 2rem;
    padding-right: 5vw;
    padding-left: 5vw;
}

.grid-layout {
    color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(./Black\ grid.png);
    background-repeat: repeat;
}

.grid-layout a {
    color: #FFFFFF;
}

.grid-container {
    display: grid;
    grid-gap: 1.5rem; 
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    margin: auto;
}

.grid-container div {
    padding: 1rem;
    /* PLACEHOLDER */
    border: 1px solid #999;
    border-radius: 3px
}

.video-tutorial {
    grid-column-start: 4;
    grid-column-end: 6;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

.get-started {
    color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #5e35b1;
}

.examples {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

.examples .tag {
    position: absolute;
    transform: rotate(-20deg);
    background-color: #087f23;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: -0.8rem;
    left: -0.8rem;
}

.examples .tag p {
    margin: 0px;
}

.patterns {
    grid-column-start: 3;
    grid-column-end: 6;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

.resources {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

.layout-news {
    grid-column-start: 4;
    grid-column-end: 6;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

.questions {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

.about-grid {
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;

}

.news {
    grid-column-start: 4;
    grid-column-end: 6;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

.gridbugs {
    grid-column-start: 1;
    grid-column-end: 6;
    background-image: url(./Gray\ grid.png);
    background-repeat: repeat;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Black\ grid.png);
    background-repeat: repeat;
    margin-top: 64px;
    font-size: 85%;
}

footer .wrapper {
    padding: 0.5rem;
    color: #000000;
    background-color: #ffffff99;
    width: 92%;
    border: 1px solid #999;
    border-radius: 3px
}
footer .wrapper a {
    color: #000000;
}
@media screen and (max-width: 640px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .header-navbar {
        flex-direction: column;
    }
}